* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    color: rgb(29,29,31);
}

h4{
    color: rgb(63, 62, 62);
}

/*MENÚ*/

header{
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    width: 100%;
}

#menu{
    display: block;
    margin-left: 5.5%;
}

#menu li{
    text-align: center;
    display: inline-block;
    color: white;
    width: 3%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

#menu .text{
    line-height: 60px;
}

#menu li img{
    height: 50px;
    vertical-align: middle;
}

#menu li #zoom{
    height: 23px;
}

/*CONTENIDO CENTRAL*/

#main, #central, #bottom{
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 113, 227);
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

button{
    color: white;
    background-color: rgb(0, 113, 227);
    border: 0px;
    border-radius: 20px;
    font-weight: 100;
    padding: 8px 16px;
    cursor: pointer;

    margin: 0 auto;
    display: block;
}

/*Bloque Superior*/

#main h1, .pmain, #main a, #main button{
    margin: 20px 0px;
}

#main button{
    margin: 0 auto;
    margin-top: 15px;
}

#new{
    color:red;
    font-size: 14px;
    margin-top: 25px;
}

#main h1{
    font-size: 64px;
    margin-bottom: -20px;
}

#main h4{
    font-size: 24px;
    margin-bottom: 8px;
}

#main img{
    width: 70%;
    padding: 60px 15%;
}

/*Bloques Intermedios*/

.twoboxes{
    width: 40%;
    display: inline-block;
    background-color: rgb(242, 242, 242);
    margin:8px;
    margin-bottom: 60px;
}

.twoboxes img{
    width: 100%;
}

/*bloque izquierdo*/

#left h2, #left h4 {
    margin-bottom: 10px;
}

#left h2{
    width: 50%;
    padding: 0% 25%;
}

#left button{
    margin-bottom: 63px;
}

#left h4{
    margin-top: 35px;
}

#left img{
    height: 260px;
}

/*bloque derecho*/

#right img, #right h4, #right h2, #right p{
    width: 70%;
    padding: 0% 15%;
}

#right h4, #right h2, #right p{
    width: 70%;
    padding: 0% 15%;
    margin-bottom: 10px;
}

#right h4{
    margin-top: 35px;
}

#right a{
    margin-bottom: 35px;
}


/*Bloque Inferior*/

#bottom img{
    width: 40px;
}

#bottom p{
    margin: 10px 0px;
}

#bottom a{
    margin-bottom: 30px;
}

.bold{
    font-weight: bolder;
}

/*FOOTER*/

footer{
    display: block;
    bottom: 0px;
    width: 90%;
    background-color: rgb(245, 245, 247);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    color: rgb(81, 81, 84);
}

footer ul li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px rgb(81, 81, 84) solid;
    padding-left: 6px;
    padding-right: 9px;
    margin-bottom: 32px;
    cursor: pointer;
}

footer p{
    margin-bottom: 10px;
}

.first{
    padding-left: 0px;
}

.last{
    border-right: 0px;
}

